:root {
  --dblue: #2f4550;
  --blue: #586f7c;
  --white: #f4f4f9;
}
body {
  background-color: var(--dblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}
header,
footer {
  color: var(--white);
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  padding: 4vh;
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  flex: 1;
}
.block {
  border: 1px solid rgba(0, 0, 0, 0.01);
}
.sideBar {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-right: 5vw;
  padding: 0 1vw;
  color: var(--white);
  border: 5px dotted var(--white);
}
input[type="color"] {
  width: auto;
  height: 5%;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 0;
  margin: 0;
}
button {
  background-color: var(--blue);
  color: #fff;
  padding: 1vh 1vw;
  margin-bottom: 20px;
}
button:hover {
  color: #fff;
  background-color: #616467;
}
/* html, img, video, iframe {
     filter: invert(1) hue-rotate(180deg)
} */
/* Etch a sketch stuff */
#etchGrid {
  background-color: white;
  display: grid;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.gridBlock {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}